<!-- <input [(ngModel)]="message.content" placeholder="Type your message here..." class="form-control">
<button (click)="sendMessage()" class="btn btn-primary">Send</button>
<p *ngFor="let message of messages | async">{{message.content}}</p> -->
<div class="flex w-full border rounded bg-white">
    <app-login-form></app-login-form>
    <app-rooms-component class="w-1/4" (selectedRoom)="selectedRoom=$event"></app-rooms-component>
    <app-chat-component class="w-3/4" [selectedRoom]="selectedRoom"></app-chat-component>
</div>