<div class="w-full h-96 overflow-scroll bg-orange-50">
    <div *ngFor="let room of rooms | async" (click)="selectRoom(room)"
        class="flex  items-center h-12 cursor-pointer border-y bg-white w-full hover:bg-orange-50 ">
        <img src="https://cdn.discordapp.com/attachments/1159485298422587413/1190000252292440165/256884b8-4eff-41dc-b6c8-63a2605c1613.png?ex=65a03519&is=658dc019&hm=e012e1f81af7b1fbb97a2d86fd7ef87009b8891d43ffe16c3cd1a7efcaf85e95&"
            class="w-10 bg-cover rounded-full object-cover mx-3  h-10 ">
        <p class="font-bold mx-3">{{room.name}}</p>
    </div>
</div>