<div class="w-full h-96 relative">
    <div class="w-full h-96 overflow-scroll flex flex-col-reverse">
        <div class="flex items-start m-5 gap-2.5" *ngFor="let message of messages | async">
            <img class="w-8 h-8 rounded-full"
                src="https://cdn.discordapp.com/attachments/1019544254479089675/1169228093832048700/image.png?ex=659e7784&is=658c0284&hm=5fd12c3d5101ea0cf847b4805414c9b9f278e961d6362e8d827203544a83ba65&"
                alt="Jese image">
            <div
                class="flex flex-col w-full max-w-[320px] leading-1.5 p-4 border-gray-200 bg-gray-100 rounded-e-xl rounded-es-xl dark:bg-gray-700">
                <div class="flex items-center space-x-2 rtl:space-x-reverse">
                    <span class="text-sm font-semibold text-gray-900 dark:text-white">{{message.sender.firstName +' '+
                        message.sender.lastName}}</span>
                    <span
                        class="text-sm font-normal text-gray-500 dark:text-gray-400">{{message.time.split(":").slice(0,
                        2).join(":")}}</span>
                </div>
                <p class="text-sm font-normal py-2.5 text-gray-900 dark:text-white">{{message.content}}</p>
            </div>
        </div>
    </div>
    <div *ngIf="selectedRoom.id" class="absolute left-0 right-0 bottom-0 w-full bg-orange-50">
        <input [(ngModel)]="message.content" placeholder="Type your message here..."
            class="form-control m-1 rounded mb-2 text-sm font-medium w-10/12 text-gray-900 py-1 px-3">
        <button (click)="sendMessage()" class="text-white bg-orange-400 w-1/12 px-3 rounded">Send</button>
    </div>
</div>