<app-modal *ngIf="alertProps.showAlert">
    <div>
        <div class="overflow-hidden sm:rounded-md">
            <h1 class="leading-relaxed text-center my-5 block font-semibold text-2xl self-start text-black">
                {{alertProps.message}}</h1>
        </div>
    </div>
    <div *ngIf="!alertProps.warning" class="px-4 p-3 text-right  flex justify-around">
        <button *ngIf="alertProps.needConfirm" (click)="confirm(true)" type="button" id="closeAddForm"
            class="inline-flex justify-center rounded-md border border-transparent bg-white py-2 px-4 text-sm font-medium text-black shadow-sm ">
            Confirm
        </button>
        <button type="submit" (click)="confirm(false)"
            class="inline-flex justify-center rounded-md border border-transparent bg-orange-500 py-2 px-4 text-sm font-medium text-black shadow-sm ">
            Close
        </button>
    </div>
    <div *ngIf="alertProps.warning" class="px-4 p-3 text-right  flex justify-around">
        <button routerLink="{{alertProps.link}}" (click)="confirm(false)" type="button" id="closeAddForm"
            class="inline-flex justify-center rounded-md border border-transparent bg-white py-2 px-4 text-sm font-medium text-black shadow-sm ">
            Back Stupid
        </button>
    </div>
</app-modal>