<div class="w-full px-5 py-7" *ngIf="input.type!='hidden'">
    <label for="{{input.name}}" class="block mb-2 text-sm font-medium text-white dark:text-white">
        {{input.name}}
    </label>
    <input type="{{input.type}}" [placeholder]="input.label" name="{{input.name}}" id="{{input.name}}"
        autocomplete="given-name" value="{{input.value}}"
        class="bg-black border border-green-500 text-white text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 ">
</div>