<div class="flex justify-center flex-wrap">
    <app-plus></app-plus>
    <app-subject [name]='name'></app-subject>
    <app-subject [name]='name'></app-subject>
    <app-subject [name]='name'></app-subject>
    <app-subject [name]='name'></app-subject>
    <app-subject [name]='name'></app-subject>
    <app-subject [name]='name'></app-subject>
    <app-subject [name]='name'></app-subject>
    <app-subject [name]='name'></app-subject>
    <app-subject [name]='name'></app-subject>
    <app-subject [name]='name'></app-subject>
    <app-subject [name]='name'></app-subject>
    <app-subject [name]='name'></app-subject>
    <app-subject [name]='name'></app-subject>
    <app-subject [name]='name'></app-subject>
    <app-subject [name]='name'></app-subject>
    <app-subject [name]='name'></app-subject>
    <app-subject [name]='name'></app-subject>
    <app-subject [name]='name'></app-subject>
    <app-subject [name]='name'></app-subject>
    <app-subject [name]='name'></app-subject>
    <app-subject [name]='name'></app-subject>
    <app-subject [name]='name'></app-subject>
    <app-subject [name]='name'></app-subject>
    <app-subject [name]='name'></app-subject>
</div>