<div class="fixed left-0 h-screen bg-orange-500 w-1/5">
  <div class="border-b w-100 flex justify-center">
    <p class="my-10 text-white">Wi Quiz Time ! ! !</p>
  </div>
  <div class="w-full flex justify-left">
    <ul class="w-full">
      <li class="w-3/4 px-3 py-3 rounded-r-lg my-10 text-white hover:bg-white hover:text-orange-500">Home</li>
      <li class="w-3/4 px-3 py-3 rounded-r-lg my-10 text-white hover:bg-white hover:text-orange-500">About</li>
      <li class="w-3/4 px-3 py-3 rounded-r-lg my-10 text-white hover:bg-white hover:text-orange-500">Contact</li>
    </ul>
  </div>
</div>