<app-modal>
    <div class="text-center pt-5 block font-semibold text-2xl self-start text-black">
        <h1 class="leading-relaxed">
            {{quiz.id != 0 ? 'Edit' : 'Add'}}
            Quiz
        </h1>
    </div>
    <div class="hidden sm:block" aria-hidden="true">
        <div class="py-5">
            <div class="border-t border-orange-500"></div>
        </div>
    </div>
    <div>
        <div class="overflow-hidden sm:rounded-md">
            <div class="px-4 py-5">
                <div class="flex w-full flex-col">
                    <div class="w-full px-5 py-7">
                        <label for="name" class="block mb-2 text-sm font-medium text-black dark:text-black">
                            Success Result
                        </label>
                        <input type="number" [(ngModel)]="quiz.successResult"
                            class="bg-yellow-50 border border-orange-500 text-black text-sm rounded-lg focus:ring-orange-500 focus:border-orange-500 block w-full p-2.5 ">
                    </div>
                    <div class="w-full px-5 py-7">
                        <label for="name" class="block mb-2 text-sm font-medium text-black dark:text-black">
                            Answers access
                        </label>
                        <input type="checkbox" [(ngModel)]="quiz.answerAccess"
                            class="bg-yellow-50 border border-orange-500 text-black text-sm rounded-lg focus:ring-orange-500 focus:border-orange-500 block w-full p-2.5 ">
                    </div>
                </div>
                <div class="flex w-full flex-col">
                    <div class="w-full px-5 py-7">
                        <label for="name" class="block mb-2 text-sm font-medium text-black dark:text-black">
                            Result access after test
                        </label>
                        <input type="checkbox" [(ngModel)]="quiz.resultAccess"
                            class="bg-yellow-50 border border-orange-500 text-black text-sm rounded-lg focus:ring-orange-500 focus:border-orange-500 block w-full p-2.5 ">
                    </div>
                    <div class="w-full px-5 py-7">
                        <label for="name" class="block mb-2 text-sm font-medium text-black dark:text-black">
                            Chances
                        </label>
                        <input type="number" [(ngModel)]="quiz.numberOfChances"
                            class="bg-yellow-50 border border-orange-500 text-black text-sm rounded-lg focus:ring-orange-500 focus:border-orange-500 block w-full p-2.5 ">
                    </div>
                    <div class="w-full px-5 py-7">
                        <label for="name" class="block mb-2 text-sm font-medium text-black dark:text-black">
                            Comments
                        </label>
                        <input type="text" [(ngModel)]="quiz.comment"
                            class="bg-yellow-50 border border-orange-500 text-black text-sm rounded-lg focus:ring-orange-500 focus:border-orange-500 block w-full p-2.5 ">
                    </div>
                    <div class="w-full px-5 py-7">
                        <label for="name" class="block mb-2 text-sm font-medium text-black dark:text-black">
                            Teacher
                        </label>
                        <select type="number" [(ngModel)]="quiz.teacher.id"
                            class="bg-yellow-50 border border-orange-500 text-black text-sm rounded-lg focus:ring-orange-500 focus:border-orange-500 block w-full p-2.5 ">
                            <option *ngFor="let teacher of teachers" value="{{teacher.id}}">{{teacher.lastName + ' ' +
                                teacher.firstName}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="hidden sm:block" aria-hidden="true">
                <div class="py-5">
                    <div class="border-t border-orange-500"></div>
                </div>
            </div>
            <div class="px-4 pb-3 text-right sm:px-6 flex justify-around">
                <button (click)="togglePopUp()" type="button" id="closeAddForm"
                    class="inline-flex justify-center rounded-md border border-transparent bg-white py-2 px-4 text-sm font-medium text-black shadow-sm ">
                    Cancel
                </button>
                <button type="submit" (click)="submit()"
                    class="inline-flex justify-center rounded-md border border-transparent bg-orange-500 py-2 px-4 text-sm font-medium text-black shadow-sm ">
                    Save
                </button>
            </div>
        </div>
    </div>
</app-modal>