<div class="px-4 sm:px-6 lg:px-8">
    <div class="sm:flex sm:items-center">
        <div class="sm:flex-auto">
            <h1 class="text-xl font-semibold text-white">Subject</h1>
        </div>
        <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
            <button type="button" (click)="togglePopUp()"
                class="inline-flex items-center justify-center rounded-md border border-transparent bg-green-500 px-4 py-2 text-sm font-medium text-white shadow-sm ">Add
                subject</button>
        </div>
    </div>
    <div class="mt-8 flex flex-col">
        <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
                <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
                    <table class="min-w-full border divide-y divide-gray-300">
                        <thead class="bg-black">
                            <tr>
                                <th scope="col"
                                    class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-white sm:pl-6">Id
                                </th>
                                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-white">Name
                                </th>
                                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-white">Top
                                </th>
                                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-white">Action
                                </th>
                            </tr>
                        </thead>
                        <tbody class="divide-y divide-gray-200 bg-black">
                            <tr *ngFor="let subject of subjects">
                                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-white sm:pl-6">
                                    {{subject.id}}</td>
                                <td class="whitespace-nowrap px-3 py-4 text-sm text-white">{{subject.name}}</td>
                                <td class="whitespace-nowrap px-3 py-4 text-sm text-white">{{subject.top.name}}</td>
                                <td class="whitespace-nowrap px-3 py-4 text-sm text-white">
                                    <span>
                                        <button type="button" (click)="togglePopUp(subject)"
                                            class="inline-flex px-5 py-2 mx-2 items-center justify-center rounded-md border ">
                                            Edit</button>
                                    </span>
                                    <span>
                                        <button type="button"
                                            (click)="delete(subject)"
                                            class="inline-flex px-5 py-2 mx-2 items-center justify-center rounded-md border ">
                                            Delete</button>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<app-subject-popup  *ngIf="showPopup" [subject]="subject" (submitEvent)="submit($event)" (show)="showPopup=!showPopup" [subjects]="subjects"></app-subject-popup>
<app-alert *ngIf="showAlert" [needConfirm]="needConfirm" (confirmed)="delete(subject, $event)" [message]="message" (showAlert)="showAlert=!showAlert"></app-alert>