<div class="w-full flex justify-center align-middle bg-white">
    <div class="bg-yellow-50 m-5 flex w-1/12 flex-col">
        <div class="flex justify-center align-middle p-3"
            *ngFor="let questionOfQuiz of quiz.questionOfQuizs; let i = index">
            <span class="bg-white p-3 rounded">Q
                <span>{{i+1}}</span></span>
        </div>
        <div></div>
    </div>
    <div class="bg-yellow-50 m-5 w-11/12 h-96 justify-center align-middle flex">
        <div class="flex w-full p-5 justify-center align-middle">
            <div class="w-2/5 align-middle flex flex-col">
                <p class="text-2xl text-center font-bold">{{question.question}}</p>
                <div>
                    <div *ngFor="let response of question.validations; let i = index">
                        <div class="flex justify-center align-middle">
                            <input type="radio" name="response" id="response{{i}}" class="m-2">
                            <label for="response{{i}}" class="m-2">{{response.response.response}}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-3/5 border border-black relative flex flex-row justify-center align-middle ">
                <button (click)="selectedImage = (selectedImage === 0) ? question.media.length - 1 : selectedImage - 1"
                    type="button"
                    class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                    data-carousel-prev>
                    <span
                        class="inline-flex items-center border border-black justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                        <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M5 1 1 5l4 4" />
                        </svg>
                        <span class="sr-only">Previous</span>
                    </span>
                </button>
                <button (click)="selectedImage = (selectedImage === question.media.length - 1) ? 0 : selectedImage + 1"
                    type="button"
                    class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                    data-carousel-next>
                    <span
                        class="inline-flex items-center border border-black justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                        <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 9 4-4-4-4" />
                        </svg>
                        <span class="sr-only">Next</span>
                    </span>
                </button>
                <div class="w-full flex justify-center align-middle" *ngFor="let media of question.media; let i = index"
                    [ngClass]="{'hidden': i !== selectedImage}">
                    <img src="{{media.src}}" class="w-full h-auto object-cover">
                </div>
            </div>
        </div>
    </div>