<div (mouseenter)="closeSideBar()" (mouseleave)="closeSideBar()"
    class="fixed z-30 left-0 h-screen border-orange-500 border-r  bg-orange-50 ">
    <div *ngIf="!show" class="mx-2 flex items-center h-full cursor-pointer">
        <span class="text-orange-500 text-2xl">></span>
    </div>
    <div ngClass="mx-5 my-3" *ngIf="show" class="relative">
        <div class="border-b w-100 border-orange-500 flex justify-center">
            <p class="my-5 text-orange-500  font-bold text-xl">WI QUIZ TIME ! ! !</p>
        </div>
        <div class="w-full flex justify-left">
            <ul class="w-full">
                <li routerLink="/subject" class="w-3/4 p-1 rounded-r-lg my-2 text-black cursor-pointer hover:text-orange-500">Subject
                </li>
                <li  routerLink="/question" class="w-3/4 p-1 rounded-r-lg my-2 text-black cursor-pointer hover:text-orange-500">Question
                </li>
                <li routerLink="/response" class="w-3/4 p-1 rounded-r-lg my-2 text-black cursor-pointer hover:text-orange-500">Response</li>
                <li routerLink="/questionofquiz" class="w-3/4 p-1 rounded-r-lg my-2 text-black cursor-pointer hover:text-orange-500">Question Of Quiz</li>
                <li routerLink="/level" class="w-3/4 p-1 rounded-r-lg my-2 text-black cursor-pointer hover:text-orange-500">Level</li>
                <li routerLink="/media" class="w-3/4 p-1 rounded-r-lg my-2 text-black cursor-pointer hover:text-orange-500">Media</li>
                <li routerLink="/quiz" class="w-3/4 p-1 rounded-r-lg my-2 text-black cursor-pointer hover:text-orange-500">Quiz</li>
                <li routerLink="/student" class="w-3/4 p-1 rounded-r-lg my-2 text-black cursor-pointer hover:text-orange-500">Student</li>
                <li routerLink="/validation" class="w-3/4 p-1 rounded-r-lg my-2 text-black cursor-pointer hover:text-orange-500">Validation</li>
                <li routerLink="/assignquiz" class="w-3/4 p-1 rounded-r-lg my-2 text-black cursor-pointer hover:text-orange-500">Assign Quiz</li>
            </ul>
        </div>
    </div>
</div>