<app-modal>
    <div class="text-center pt-5 block font-semibold text-2xl self-start text-black">
        <h1 class="leading-relaxed">
            {{question.id != 0 ? 'Edit' : 'Add'}}
            Question</h1>
    </div>
    <div class="hidden sm:block" aria-hidden="true">
        <div class="py-5">
            <div class="border-t border-orange-500"></div>
        </div>
    </div>
    <div>
        <div class="overflow-hidden sm:rounded-md">
            <div class="px-4 py-5">
                <div class="flex w-full flex-col">
                    <div class="w-full px-5 py-7">
                        <label for="name" class="block mb-2 text-sm font-medium text-black dark:text-black">
                            Question
                        </label>
                        <input type="text" name="name" id="name" autocomplete="given-name"
                            [(ngModel)]="question.question"
                            class="bg-yellow-50 border border-orange-500 text-black text-sm rounded-lg focus:ring-orange-500 focus:border-orange-500 block w-full p-2.5 ">
                    </div>
                    <div class="w-full px-5 py-7">
                        <label for="name" class="block mb-2 text-sm font-medium text-black dark:text-black">
                            Number of answers
                        </label>
                        <input type="number" name="name" id="name" autocomplete="given-name"
                            [(ngModel)]="question.numberOfAnswers"
                            class="bg-yellow-50 border border-orange-500 text-black text-sm rounded-lg focus:ring-orange-500 focus:border-orange-500 block w-full p-2.5 ">
                    </div>
                    <div class="w-full px-5 py-7">
                        <label for="name" class="block mb-2 text-sm font-medium text-black dark:text-black">
                            Number of correct answers
                        </label>
                        <input type="number" name="name" id="name" autocomplete="given-name"
                            [(ngModel)]="question.numberOfCorrectAnswers"
                            class="bg-yellow-50 border border-orange-500 text-black text-sm rounded-lg focus:ring-orange-500 focus:border-orange-500 block w-full p-2.5 ">
                    </div>
                    <div class="w-full px-5 py-7">
                        <label for="name" class="block mb-2 text-sm font-medium text-black dark:text-black">
                            Question type
                        </label>
                        <select type="text" name="name" id="name" autocomplete="given-name"
                            [(ngModel)]="question.questionType"
                            class="bg-yellow-50 border border-orange-500 text-black text-sm rounded-lg focus:ring-orange-500 focus:border-orange-500 block w-full p-2.5 ">
                            <option *ngFor="let questionType of keysOfQuestionTypes" value="{{questionType}}">
                                {{questionType}}</option>
                        </select>
                    </div>
                    <div class="w-full px-5 py-7">
                        <label for="name" class="block mb-2 text-sm font-medium text-black dark:text-black">
                            points
                        </label>
                        <input type="number" name="name" id="name" autocomplete="given-name"
                            [(ngModel)]="question.points"
                            class="bg-yellow-50 border border-orange-500 text-black text-sm rounded-lg focus:ring-orange-500 focus:border-orange-500 block w-full p-2.5 ">
                    </div>
                    <div class="w-full px-5 py-7">
                        <label for="name" class="block mb-2 text-sm font-medium text-black dark:text-black">
                            Time
                        </label>
                        <input type="number" name="name" id="name" autocomplete="given-name" [(ngModel)]="question.time"
                            class="bg-yellow-50 border border-orange-500 text-black text-sm rounded-lg focus:ring-orange-500 focus:border-orange-500 block w-full p-2.5 ">
                    </div>
                    <div class="w-full px-5 py-7">
                        <label for="name" class="block mb-2 text-sm font-medium text-black dark:text-black">
                            level
                        </label>
                        <select type="number" name="name" id="name" autocomplete="given-name"
                            [(ngModel)]="question.level.id"
                            class="bg-yellow-50 border border-orange-500 text-black text-sm rounded-lg focus:ring-orange-500 focus:border-orange-500 block w-full p-2.5 ">
                            <option *ngFor="let level of levels" value="{{level.id}}">{{level.description}}
                            </option>
                        </select>
                    </div>
                    <div class="w-full px-5 py-7">
                        <label for="name" class="block mb-2 text-sm font-medium text-black dark:text-black">
                            Subject
                        </label>
                        <select type="number" name="name" id="name" autocomplete="given-name"
                            [(ngModel)]="question.subject.id"
                            class="bg-yellow-50 border border-orange-500 text-black text-sm rounded-lg focus:ring-orange-500 focus:border-orange-500 block w-full p-2.5 ">
                            <option *ngFor="let subject of subjects" value="{{subject.id}}">{{subject.name}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="hidden sm:block" aria-hidden="true">
            <div class="py-5">
                <div class="border-t border-orange-500"></div>
            </div>
        </div>
        <div class="px-4 pb-3 text-right sm:px-6 flex justify-around">
            <button (click)="togglePopUp()" type="button" id="closeAddForm"
                class="inline-flex justify-center rounded-md border border-transparent bg-white py-2 px-4 text-sm font-medium text-black shadow-sm ">
                Cancel
            </button>
            <button type="submit" (click)="submit()"
                class="inline-flex justify-center rounded-md border border-transparent bg-orange-500 py-2 px-4 text-sm font-medium text-black shadow-sm ">
                Save
            </button>
        </div>
    </div>
</app-modal>