<app-modal>
    <div class="text-center pt-5 block font-semibold text-2xl self-start text-black">
        <h1 class="leading-relaxed">
            <!-- {{questionofquiz.id != 0 ? 'Edit' : 'Add'}} -->
            Questionofquiz
        </h1>
    </div>
    <div class="hidden sm:block" aria-hidden="true">
        <div class="py-5">
            <div class="border-t border-orange-500"></div>
        </div>
    </div>
    <div>
        <div class="overflow-hidden sm:rounded-md">
            <div class="px-4 py-5">
                <div class="flex w-full flex-col">
                    <div class="w-full px-2 py-2">
                        <label for="name" class="block mb-2 text-sm font-medium text-black dark:text-black">
                            Question
                        </label>
                        <select type="number" [(ngModel)]="questionofquiz.question.id"
                            class="bg-orange-50 border border-orange-500 text-black text-sm rounded-lg focus:ring-orange-500 focus:border-orange-500 block w-full p-2.5 ">
                            <option value="0">No question</option>
                            <option *ngFor="let question of questions" value="{{question.id}}">{{question.question}}
                            </option>
                        </select>
                    </div>
                    <div class="w-full px-2 py-2">
                        <label for="name" class="block mb-2 text-sm font-medium text-black dark:text-black">
                            Quiz
                        </label>
                        <select type="number" [(ngModel)]="questionofquiz.quiz.id"
                            class="bg-orange-50 border border-orange-500 text-black text-sm rounded-lg focus:ring-orange-500 focus:border-orange-500 block w-full p-2.5 ">
                            <option value="0">No quiz</option>
                            <option *ngFor="let quiz of quizzes" value="{{quiz.id}}">{{quiz.comment}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="hidden sm:block" aria-hidden="true">
                <div class="py-5">
                    <div class="border-t border-orange-500"></div>
                </div>
            </div>
            <div class="px-4 pb-3 text-right sm:px-6 flex justify-around">
                <button (click)="togglePopUp()" type="button" id="closeAddForm"
                    class="inline-flex justify-center rounded-md border border-transparent bg-white py-2 px-4 text-sm font-medium text-black shadow-sm ">
                    Cancel
                </button>
                <button type="submit" (click)="submit()"
                    class="inline-flex justify-center rounded-md border border-transparent bg-orange-500 py-2 px-4 text-sm font-medium text-black shadow-sm ">
                    Save
                </button>
            </div>
        </div>
    </div>
</app-modal>